//popup on landing page
html{
    scroll-behavior: smooth;
  }
  .popup-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10000;
  }
  
  .microsite-modal{
      position: fixed;
      height: 74vh;
      background: #22b5fb;
      width: 57vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 1000000000000;
      .catalog-heading{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .catalog-text{
            text-align: center;
            width: 100%;
            background: #d8137d91;
            color: #fff;
            text-decoration: underline;
            font-size: 1.6rem;
            font-weight: 700;
            padding-bottom: 0.3rem;
            cursor: pointer;
        }
        .catalog-text:hover{
            background: #d8137dd9;
        }
      }
        .conference-img-div{
          // width: 50vh;
          height: 100%;
          // height: 74vh;
          .conference-img{
            height: 100%;
            width: 100%;
          }
        }
        .content-wrapper{
          display: flex;
          width: 100%;
          height: 100%;
          .col-one:nth-child(1){
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
          .col-one{
            width:100%;
            .conference-img-div{
              width: 100%;
              .conference-img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
  
      .close-icon{
          text-align: right;
          position: absolute;
          right: 0;
          z-index: 100;
          i{
              font-size: 30px;
              color: #d8137d91;
              opacity: 1;
              cursor: pointer;
          }
      }
    }
 
  
  @media all and (max-width: 384px) {
    .microsite-modal{
        width: 95%;
      }
   }