.event-details {
  display: flex;
  flex-wrap: wrap;
  @media all and (max-width: 767px) {
    flex-direction: column;
  }
  .arrowBack {
    color: #808080;
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    img {
      width: 15px;
      color: #010101;
      margin-right: 15px;
    }
    a {
      text-decoration: none;
      color: #808080;
    }
    @media all and(min-width:768px) {
      display: none;
    }
  }
  .event-image {
    background-size: cover;
    display: block;
    @media all and (max-width: 767px) {
      height: 400px;
      order: 2;
      display: none;
    }
  }
  .left {
    @media all and (max-width: 767px) {
      order: 3;
    }
    img {
      width: 100%;
    }
    .timings {
      position: absolute;
      top: 0;
      left: 30%;
      right: 40px;
      top: 20px;
      @media all and (max-width: 1199px) {
        left: 10px;
        top: 20px;
      }
      .timing {
        font-size: 0.8em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background: white;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #bbb;
        box-shadow: 0 0 5px 0px #bbb;
        margin-top: 10px;
        .day-block {
          display: flex;
          width: 50%;
          padding: 5px;
          .day {
            width: 80px;
            color: #666;
          }
          .time {
            color: #999;
          }
        }
        .day-block:nth-child(1) {
          order: 1;
        }
        .day-block:nth-child(2) {
          order: 3;
        }
        .day-block:nth-child(3) {
          order: 5;
        }
        .day-block:nth-child(4) {
          order: 7;
        }
        .day-block:nth-child(5) {
          order: 2;
        }
        .day-block:nth-child(6) {
          order: 4;
        }
        .day-block:nth-child(7) {
          order: 6;
        }
      }

      //   .day-block :nth-child(2) {
      //     order: 3;
      //   }
    }
  }
  .right {
    // width: 50%;
    padding: 30px 40px !important;
    @media all and (max-width: 767px) {
      padding: 0 !important;
    }
    .block {
      display: flex;
      @media all and (max-width: 767px) {
        padding: 0 15px  !important;
      }
      .category-icon {
        width: 30px;
        height: 30px;
      }
      .title {
        margin-left: 20px;
        font-size: 1.5em;
        font-weight: 600;
      }
      .desc {
        font-size: 0.8em;
        padding: 10px 0 20px;
      }
      .rating-text {
        font-size: 0.7em;
        color: #888;
        line-height: 3em;
        margin-left: 10px;
      }
    }
    .sub-details-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .sub-details {
        flex-direction: column;
        .sub-detail {
          display: flex;
        }
        .icon {
          width: 1em;
        }
        .text {
          font-size: 0.8em;
          margin-left: 20px;
        }
        @media all and (max-width: 767px) {
          flex-direction: column;
          order: 2;
          margin: 10px 0;
        }
      }
      .social-buttons {
        justify-content: space-between;
        align-items: center;
        @media all and (max-width: 767px) {
          flex-direction: column;
          order: 3;
          justify-content: flex-start;
          text-align: left;
          align-items: unset;
        }
        .favorites-btn {
          width: 200px;
          background: #0a65ac;
          display: flex;
          align-items: center;
          font-size: 0.9em;
          img {
            width: 1em;
            margin-right: 8px;
          }
        }
        .social {
          @media all and (max-width: 767px) {
            margin-top: 10px;
          }
          button {
            height: 25px;
            display: flex;
            align-items: center;
            svg {
              width: 0.8em;
            }
            .text {
              font-size: 0.8em;
              color: #fff;
              margin-left: 5px;
            }
          }
        }
      }
      .event-image-mobile {
        background-size: cover;
        display: none;
        @media all and (max-width: 767px) {
          display: block;
          background-size: cover;
          height: 400px;
          order: 1;
        }
      }
    }
  }
  .review-block {
    padding: 30px 40px !important;
    @media all and (max-width: 767px) {
      order: 4;
      padding: 15px 15px !important;
    }
    .reviews {
      padding: 20px 0;
      font-size: 0.8em;
    }
    .top {
      display: flex;
      font-weight: 600;
      padding-top: 5px;
      .name {
        margin-right: 5px;
      }
    }
    .text {
      color: #888;
    }
    .leave-review {
      font-size: 0.8em;
      color: blue;
      cursor: pointer;
    }
  }
}

.pluginConnectTextDark {
  display: none !important;
}
#u_0_4 {
  display: none !important;
}

.SocialMediaShareButton {
  background-color: #029fe1;
  border-color: #029fe1;
  padding: 0 5px;
}

.SocialMediaShareButton:hover {
  background-color: #029fe1;
  border-color: #029fe1;
  padding: 0 5px;
}
