.footer {
  position: absolute;
  height: 80px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  border-top: 1px solid #ebebeb;
  @media screen and(max-width:750px) {
    flex-direction: column;
    text-align: center;
  }
  .copyright {
    display: flex;
    flex-direction: row;
    @media screen and(max-width: 750px) {
      flex-direction: column;
    }
  }
  @media (max-width: 576px) {
    .copyright > :nth-child(1) {
      order: 2;
    }
    .copyright > :nth-child(2) {
      order: 1;
    }
  }
  img {
    height: 5vh;
    margin: 20px 3px;
    @media (max-width: 576px) {
      height: 5vh;
      margin: 20px 3px 20px 3px;
    }
  }
  span {
    padding: 20px 0px 20px 0px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: 1.8;
    color: #929292;
  }
  .social-icons {
    img {
      width: 24px;
      height: 24px;
    }
    @media (max-width: 576px) {
      text-align: center;
    }
  }
}
.footer-col {
  margin-top: 20px;
  font-size: 12px;
  .contact-section {
    padding-right: 100px;
    @media all and(max-width:991px) {
      padding-right: 30px;
    }
    @media all and(max-width:767px) {
      padding-right: 70px;
    }
    .content {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        margin-right: 10px;
        width: 18px;
      }
      .top {
        color: #808080;
      }
      .phone {
      }
    }
  }
  .category-section {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 15px;
      color: #212529;
    }
    a:hover {
      color: #0a8b4d;
      text-decoration: none;
    }
  }
  .footer-links {
    text-align: left;
    @media all and (max-width: 767px) {
      position: relative;
      top: 50px;
    }
    .social-icons {
      display: flex;
      // justify-content: space-evenly;
      a {
        margin-right: 35px;
        img {
          width: 18px;
        }
      }
    }
  }
  .mobile-copyright {
    color: #808080;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    letter-spacing: 0.1px;
    padding-bottom: 10px;
    align-items: center;
    @media all and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -30px;
    }
    .logos {
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      @media all and (max-width: 767px) {
        order: 1;
        align-items: unset;
      }
      li {
        display: inline-block;
        margin-top: 15px;

        img {
          // width: 40px;
          height: 20px;
          margin-left: 10px;
          @media all and (max-width: 767px) {
            height: 15px;
          }
          @media all and (max-width: 424px) {
            height: 12px;
          }
        }
        .f9image{
          height: 35px;
          @media all and (max-width: 767px) {
            height: 25px;
          }
          @media all and (max-width: 424px) {
            height: 23px;
          }
        }
        img:nth-child(1) {
          margin-left: -20px;
        }
      }
    }
    .copyright-text {
      font-size: 0.9em;
      @media all and (max-width: 767px) {
        order: 2;
        margin-bottom: 20px;
      }
    }
  }
}
